 .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-section{
    margin-bottom: 20px;
  }
  
  .about-section h2{
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-section p{
    font-size: 25px !important;
    line-height: 1.5;
  }

  h1 {
    text-align: center;
  }
  .container a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
  }
  .container a:hover {
    color: grey;
    opacity: 0.6;
  }
  .container p {
    font-size: 19px;
  }
  .container .fa-github {
    color: #171515;
  }
  .container .fa-linkedin-in {
    color: #0072b1;
  }
  .container li {
    list-style-type: none;
  }
  .container ul {
    display: flex;
    justify-content: space-evenly;
  }

  /* ------------------------------------------------------------------*/
  .container-img{
    position: relative;
    display: flex;
    justify-content: center;
  }
  .container img {
    width: 200px;
    border-radius: 50%;
    transition:all 0.3s ease;
    transform-style: preserve-3d;
  }